*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    background-color: rgb(30,30,30);


}
.color__span{
    color: blueviolet;
}
/*
*********** BOTONES ***********
*/
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    color: #fff;
    background-color: blueviolet;
}

.card  button:hover {
    color: rgb(101,33,165,);
}
/*
*****CARDS ******
*/
#nuestros-roadmap{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-roadmap .container{
    padding: 150px 12px;
}

#nuestros-roadmap h2 {
    padding-bottom: 100px;
    margin-top: 0;
    font-size: 3.2em;
}
.card h3,
.card__introduccion h3,
.card__frontend h3,
.card__backend h3,
.card__mobile h3
.card__game h3 {
    margin-bottom: 30px;
}

#nuestros-roadmap p{
    display: none;
}


#nuestros-roadmap .card,
.card__introduccion,
.card__frontend,
.card__backend,
.card__mobile,
.card__game {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.card:first-child{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/intro-programacion.jpg);
}


.card:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/frontend.jpg);
}

.card:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/backend.jpg);
}
.card:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/mobile.jpg);
}
.card:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/game.jpg);
}
.card:nth-child(6){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/programming-languages.jpg);
}
.card:nth-child(7){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/algoritmos.jpg);
}

/*
    CARDS DE INTRODUCCION A LA PROGRAMACION
*/

.card__introduccion:nth-child(1){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/fundamentos.jpg);
}

.card__introduccion:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/logica.jpg);
}
.card__introduccion:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
/*
    CARDS FRONTEND
*/

.card__frontend:nth-child(1){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__frontend:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__frontend:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__frontend:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__frontend:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}

.card__frontend:nth-child(6){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__frontend:nth-child(7){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}

/*
    CARDS BACKEND
*/

.card__backend:nth-child(1){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__backend:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__backend:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__backend:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__backend:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}

.card__backend:nth-child(6){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}

/*
    CARDS MOBILE
*/

.card__mobile:nth-child(1){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__mobile:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__mobile:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__mobile:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__mobile:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}


/*
    CARDS GAMMING
*/

.card__game:nth-child(1){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__game:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg)
}
.card__game:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__game:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}
.card__game:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/introduccion-logica.jpg);
}