*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    background-color: rgb(30,30,30);


}
.color__span{
    color: blueviolet;
}
/*
*********** BOTONES ***********
*/
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    color: #fff;
    background-color: blueviolet;
}

.card button:hover {
    background-color: rgb(101,33,165,);
}
/*
*****CARDS ******
*/
#nuestros-roadmap{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-roadmap .container{
    padding: 150px 12px;
}

#nuestros-roadmap h2 {
    padding-bottom: 100px;
    margin-top: 0;
    font-size: 3.2em;
}
.card h3 {
    margin-bottom: 30px;
}

#nuestros-roadmap p{
    display: none;
}


#nuestros-roadmap .card{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.card:first-child{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/intro-programacion.jpg);
}


.card:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/frontend.jpg);
}

.card:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/backend.jpg);
}
.card:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/mobile.jpg);
}
.card:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/game.jpg);
}
.card:nth-child(6){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/programming-languages.jpg);
}
.card:nth-child(7){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/algoritmos.jpg);
}

/*Carrusel*/

.container-carrusel{
  width: 90%;

  padding: 10px 40px;
}
.container-carrusel .swiper-container{
  width: 100%;
  height: 100%;
}
.container-carrusel .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  border-radius: 15px;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);
 
}
.container-carrusel .swiper-slide img{
   display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}
.container-carrusel .swiper-slide .card-description{
    padding:1rem 1rem;
}
.container-carrusel .swiper-slide .card-title,.container-carrusel .swiper-slide .card-text{
   margin-bottom: .5rem;
}
.container-carrusel .swiper-slide .card-link{
   text-align: center;
  
}
.container-carrusel .swiper-slide .card-link a{
    text-decoration: none;
    color: #1d6ce2;
}
.swiper-button-next{
    right: 26px !important;
}
.swiper-button-prev{
    left: 26px !important;
}