*{
    box-sizing: border-box;
}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    background-color: rgb(30,30,30);

}
.color__span{
    color: blueviolet;
}
/*
*********** BOTONES ***********
*/
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    color: #fff;
    background-color: blueviolet;
}

.card button:hover {
    background-color: rgb(101,33,165,);
}
/*
*****CARDS ******
*/
#nuestros-roadmap{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-roadmap .container{
    padding: 150px 12px;
}

#nuestros-roadmap h2 {
    padding-bottom: 100px;
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-roadmap p{
    display: none;
}


#nuestros-roadmap .card{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.card:first-child{
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/intro-programacion.jpg);
}


.card:nth-child(2){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/frontend.jpg);
}

.card:nth-child(3){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/backend.jpg);
}
.card:nth-child(4){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/mobile.jpg);
}
.card:nth-child(5){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/game.jpg);
}
.card:nth-child(6){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/programming-languages.jpg);
}
.card:nth-child(7){
    background-image: linear-gradient(0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5))
    ,url(../imagenes/algoritmos.jpg);
}